version: '3.3'

networks:
  backend:
    driver: bridge

services:
  php:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
    depends_on:
      - mysql
    volumes:
      - .:/var/www:cached
    networks:
      - backend
  nginx:
    build:
      context: .
      dockerfile: .docker/nginx/Dockerfile
    ports:
      - 80:80
    volumes:
      - .:/var/www:cached
    depends_on:
      - php
    networks:
      - backend
  mysql:
    build:
      context: .
      dockerfile: .docker/mysql/Dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: local
      MYSQL_USER: local
      MYSQL_PASSWORD: local
      TZ: 'Asia/Tokyo'
    ports:
      - 3306:3306
    networks:
      - backend
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
      - 1025:1025
    networks:
      - backend
  minio:
    image: minio/minio
    container_name: 'hom-minio'
    ports:
      - 9000:9000
      - 9090:9090
    environment:
      - MINIO_ROOT_USER=local
      - MINIO_ROOT_PASSWORD=local
    command: server /data --console-address :9090
    networks:
      - backend